<div class="container container-login">
    <script>jQuery('html, body').height(jQuery('html, body').height() + 400);</script>
    <div class="row">
        <div class="col-xs-12 visible-xs"><h1 class="text-hide"><img src="images/LogoAppli.png" class="img-responsive" alt="Logo">BatiChiffrage Mobile</h1>

            <div class="border-1-black">
                <div class="comment-login"><h3>TEST GRATUIT</h3>

                    <p>Merci de renseigner ce formulaire puis de valider<br>Vous recevrez votre code d'accès par mail et par SMS</p></div>
                <hr style="border: 1px solid #c44053">
                <div class="block-login">
                    <form class="form-horizontal" ng-submit="formInscription.submitTheForm()" name="formInscriptionName" ng-controller="InscriptionCtrl">
                        <div class="form-group">
                            <div class="col-lg-12"><input ng-model="formInscription.societe" required placeholder="Société*" class="form-control" type="text"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12"><input ng-model="formInscription.nom" required placeholder="Nom*" class="form-control" type="text"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12"><input ng-model="formInscription.prenom" placeholder="Pr&eacute;nom" class="form-control" type="text"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12"><input ng-model="formInscription.email" required placeholder="Email*" class="form-control" type="email"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12"><input ng-model="formInscription.tel" required placeholder="T&eacute;l&eacute;phone*" class="form-control" type="text"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12"><input class="btn btn-success btn-block" type="submit" value="VALIDER"></div>
                        </div>
                        <div class="alert {{msgtest.class}}" ng-if="msgtest.class != ''" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>{{msgtest.message}}</strong></div>
                    </form>
                    <div class="block-passoublie clearfix"><a href="#/login" class="pull-left">J'ai déjà un compte</a> <a href="#/" class="pull-right">Retour</a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 visible-lg visible-md visible-sm"><h1 class="text-hide"><img src="images/LogoAppli.png" class="img-responsive center-block" alt="Logo">BatiChiffrage
            Mobile</h1>

            <div class="border-1-black text-center">
                <div class="comment-login"><h3>TEST GRATUIT</h3>

                    <p>Merci de renseigner ce formulaire</p>

                    <p>Vous recevrez votre code d'accès par mail et/ou par SMS</p></div>
                <hr style="border: 1px solid #c44053">
                <div class="block-login">
                    <form class="form-horizontal" ng-submit="formInscription.submitTheForm()" name="formInscriptionName" ng-controller="InscriptionCtrl">
                        <div class="form-group">
                            <div class="col-lg-12"><input ng-model="formInscription.societe" required placeholder="Société*" class="form-control" type="text"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12"><input ng-model="formInscription.nom" required placeholder="Nom*" class="form-control" type="text"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12"><input ng-model="formInscription.prenom" placeholder="Pr&eacute;nom" class="form-control" type="text"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12"><input ng-model="formInscription.email" required placeholder="Email*" class="form-control" type="email"></div>
                        </div>
                        <div class="alert alert-danger" ng-if="msgEmailExist != false" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Cette adresse mail est déjà utilisée - <a href="#/login" class="lien_pop_error">Me connecter avec cet email</a></strong></div>
                        <div class="form-group">
                            <div class="col-lg-12"><input ng-model="formInscription.tel" required placeholder="T&eacute;l&eacute;phone*" class="form-control" type="text"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12"><input class="btn btn-success btn-block" type="submit" value="VALIDER"></div>
                        </div>
                        <div class="alert {{msgtest.class}}" ng-if="msgtest.class != ''" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>{{msgtest.message}}</strong></div>
                    </form>
                    <div class="block-passoublie clearfix"><a href="#/login" class="pull-left">J'ai déjà un compte</a> <a href="#/" class="pull-right">Retour</a></div>
                </div>
            </div>
        </div>
    </div>
</div>